@use "sass:color";
@use "../abstracts/variables" as *;

.button {
    display: inline-flex;
    align-items: center;
    border: 1px solid;
    gap: 8px;
    padding: 10px 16px;
    border-radius: var(--border-radius-size);
    transition: .3s ease;

    &-sm {
        padding: 4px 8px;
    }

    &-lg {
        padding: 16px 24px;
    }

    &:not(&-icon) i {
        margin-left: 4px
    }

    &-icon {
        span {
            transition: all .3s ease;
            order: 1;
        }

        i {
            --size: 32px;
            width: var(--size);
            height: var(--size);
            border-radius: 100px;
            display: inline-grid;
            place-content: center;
            transition: transform .3s ease, order .3s ease;
            order: 2;
            transform: translateX(0);
        }
    }

    &-icon:hover i {
        transform: translateX(-345%);
    }

    &-icon:hover span {
        transform: translateX(40px);
    }
}

@each $color, $value in $colors {
    .button-#{$color} {
        color: white;
        background-color: $value;

        &.button-icon i {
            color: $value;
            background-color: white;
        }
    }
}

@each $color, $value in $colors {
    .button-outline-#{$color} {
        color: $value;
        border-color: $value;

        &.button-icon i {
            color: white;
            background-color: $value;
        }

        &:hover {
            background-color: color.adjust($value, $lightness: 75%)
        }
    }
}

.button-main {
    @extend .button-#{$mainColor};
}

.button-outline-main {
    @extend .button-outline-#{$mainColor};
}