@use 'sass:color';

@use '../abstracts/mixins' as *;

button {
    background-color: transparent;
    border: none;
}

.button {
    display: inline-flex;
    align-items: center;
    border-radius: $borderRaduis;
    text-transform: uppercase;
    padding: 12px 20px;
    font-weight: 500;
    transition: 0.3s;
}

.button-sm {
    padding: 10px 16px;
}

.button-md {
    padding: 14px 24px;
}

.button-lg {
    padding: 18px 32px;
}

@each $name, $color in $colors {
    .button-#{$name} {
        background-color: $color;
        color: white;

        &:hover {
            color: white;
            background-color: color.adjust($color, $lightness: -25%);
        }
    }
}