@use "../abstracts/variables" as *;

.button {
    display: inline-flex;
    align-items: center;
    border: 1px solid;
    padding: 10px 16px;
    border-radius: var(--border-radius-size);

    &-sm {
        padding: 4px 8px;
    }

    &-lg {
        padding: 16px 24px;
    }

    &-icon i {
        --size: 32px;
        width: var(--size);
        height: var(--size);
        border-radius: 100px;
        display: inline-grid;
        place-content: center;
        margin-left: 12px;
    }
}

@each $color, $value in $colors {
    .button-#{$color} {
        color: white;
        background-color: $value;

        &.button-icon i {
            color: $value;
            background-color: white;
        }

        &:hover {
            color: $value;
            background-color: transparent;

            &.button-icon i {
                color: white;
                background-color: $value;
            }
        }
    }
}

@each $color, $value in $colors {
    .button-outline-#{$color} {
        color: $value;
        border-color: $value;

        &.button-icon i {
            color: white;
            background-color: $value;
        }

        &:hover {
            color: white;
            background-color: $value;

            &.button-icon i {
                color: $value;
                background-color: white;
            }
        }
    }
}

.button-main {
    @extend .button-#{$mainColor};
}

.button-outline-main {
    @extend .button-outline-#{$mainColor};
}