@use "../abstracts/variables" as *;

@mixin title-icon($color) {
    svg {
        margin-right: 12px;
        color: $color;
    }
}

.offcanvas {
    &-header {
        box-shadow: 0 0 17px rgba(0, 0, 0, 0.1);
        @media (max-width: 992px) {
            & {
                box-shadow: none;
            }
        }
    }

    &-title {
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 700;
        @include title-icon(var(--main-color)); // تطبيق المزيج
    }
}

.offcanvas-cart {
    .offcanvas-footer {
        padding: 24px;
        color: #94A3B8;
        font-weight: 400;

        p {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;

            &.total {
                color: #000;
                border-top: 1px solid #ddd;
                padding-top: 12px;
                margin-top: 16px;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }

    .cart-item {
        position: relative;
        display: flex;
        padding: 24px 16px;
        border: 1px dashed transparent;
        border-bottom: 1px solid #E2E8F0;
        background-color: transparent;

        &:hover {
            border-color: var(--dark-color);
        }

        &:nth-child(odd) {
            background-color: #F8FAFC;
        }

        .item-image {
            flex-shrink: 0;

            img {
                width: 80px;
                height: 60px;
                border-radius: 4px;
                object-fit: cover;
            }
        }

        .item-cyan {
            flex-grow: 1;
            padding: 0 16px;

            .title {
                font-size: 13px;
                text-transform: capitalize;
                font-weight: 600;
                line-height: 22px;
            }
        }

        .price-amount {
            display: flex;
            align-items: center;
            margin-top: 4px;

            .price {
                font-size: 18px;
                font-weight: 700;
                margin-right: 4px;
            }
        }

        @media (max-width: 992px) {
            .price-amount {
                display: block;

                .price {
                    margin-bottom: 4px;
                }
            }
        }

        .quantity-input {
            border: 1px solid #e5e7eb;
            border-radius: 50px;
            display: flex;
            margin-left: auto;
            height: 32px;
            background-color: white;
            transition: border-color 0.2s;

            &:hover {
                border-color: var(--main-color);
            }

            input {
                width: 44px;
                border: none;
                text-align: center;
                outline: none;
                background-color: transparent;
            }

            button {
                width: 32px;
            }
        }

        .item-remove-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #000;
            width: 18px;
            height: 18px;
            padding: 0;
            border-radius: 4px;
            display: grid;
            place-content: center;
            transition: background-color 0.2s;

            &:hover {
                background-color: var(--red-color);
            }

            svg {
                color: #fff;
                width: 15px;
                height: 15px;
            }
        }

        &:hover .item-remove-btn {
            display: inline-grid;
        }
    }
}

.contact-info-canvas {
    h6 {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    .socials svg {
        color: var(--dark-color);
    }

    .subscribe form .form-control {
        font-size: 13px;
        line-height: 32px;
        border-radius: 4px;
        margin-bottom: 12px;
    }

    .contact-info .icon svg {
        color: var(--main-color);
        margin-right: 16px;
    }
}
