@use "../abstracts/variables" as *;

$tooltip-color: var(--dark-color);

.tooltip-inner {
    background-color: $tooltip-color;
    color: white;
    text-transform: capitalize;
}

@mixin tooltip-arrow($direction) {
    .bs-tooltip-#{$direction} .tooltip-arrow::before {
        border-#{$direction}-color: $tooltip-color;
    }
}

@each $dir in top, bottom, start, end {
    @include tooltip-arrow($dir);
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    border-bottom-color: $tooltip-color;
}