.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    background-color: #ff6600;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    display: none;
    cursor: pointer;
    transition: all 0.3s ease;

    :hover {
        background-color: var(--main-color);
    }
}