// At: Index
.section.about {
    padding-top: clamp(32px, 2vw, 160px);
    position: relative;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     width: 20%;
    //     background: rgba(var(--main-rgb-color), 0.25 );
    //     border-radius: 50%;
    //     filter: blur(104px);
    //     height: 100%;
    //     bottom: -50px;
    // }

    .section-image {
        position: relative;
        text-align: center;

        img:nth-child(1) {
            width: 75%;
            @media (max-width: 992px) {
                width: 100%;
                margin: 32px auto;
            }
        }
    }

    img.abs {
        position: absolute;

        &:nth-child(2) {
            left: 16px;
            top: 15%;
            @media (max-width: 992px) {
                display: none;
            }
        }

        &:nth-child(3) {
            right: 15%;
            bottom: 0;
        }

        &:nth-child(4) {
            right: 15%;
            bottom: 10%;

            @media (max-width: 992px) {
                & {
                    right: 10px;
                    bottom: 20%;
                    z-index: -1;
                    opacity: .25;
                    width: 80px;
                }
            }
        }
    }

    li {
        line-height: 38px;
        text-transform: capitalize;
        font-size: 14px;

        svg {
            color: var(--main-color);
            margin-right: 8px;
            --size: 20px;
            width: var(--size);
            height: var(--size);
        }
    }
}