section.choose-us {
    background-color: #F1F5F9;
    position: relative;

    // &::before {
    //     top: 0;
    //     right: 25%;
    //     content: "";
    //     width: 500px;
    //     height: 500px;
    //     position: absolute;
    //     filter: blur(100px);
    //     border-radius: 200%;
    //     background: rgba(var(--main-rgb-color), 0.15 );
    // }
}

.choose-feature-item {
    display: flex;
    align-items: start;
    margin-bottom: 24px;
}

.choose-feature-item .icon {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: grid;
    place-content: center;
    flex-shrink: 0;
    margin-right: 24px;
}

.choose-feature-item p {
    font-size: 13px;
    line-height: normal;
    margin-top: 8px;
}

.float-box-counter {
    right: 60%;
    bottom: 20%;
    width: 300px;
    padding: 24px;
    display: flex;
    border-radius: 4px;
    position: absolute;
    align-items: center;
    background-color: #fff;

    .text h6 {
        font: {
            size: 18px;
            weight: 700;
        }
    }
}