@use '../abstracts/variables' as *;

.header {
    padding: 18px 0;

    &-logo {
        a {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 0.5px;
        }

        svg {
            color: var(--primary-color);
            width: 40px;
            height: 32px;
        }
    }

    &-search {
        display: flex;
        border: 1px solid $borderColor;
        padding: 6px 8px;
        background-color: #fff;
        border-radius: 50px;

        >button {
            background-color: transparent;
            border: none;
            flex-shrink: 0;
        }

        form {
            display: flex;
            width: 50%;
            flex-grow: 1;

            .form-control {
                background-color: transparent;
                border: none;
            }

            button {

                margin-left: auto;
            }
        }
    }

    &-auth-buttons {
        display: flex;
        justify-content: end;

        a {

            margin-left: 4px;
        }
    }
}