@use '../abstracts/animations';

.hero-section {
    padding: clamp(24px, 5vw, 84px) 0;
}

.hero-text {
    text-transform: capitalize;

    h2 {
        font-size: clamp(32px, 5vw, 64px);
        font-weight: 700;

        span:first-of-type {
            color: white;
            padding: 0 8px;
            background-color: var(--main-color);
            border-radius: var(--border-radius-size);
        }

        #typed-text {
            font-weight: 300;
            display: block;
            height: clamp(46px, 8vw, 76px);
        }
    }

    p {
        margin: 16px 0 42px;
        width: 75%;
        color: #555;
        line-height: 1.75;
    }

    .button i {
        display: inline-block;
    }

    @media (max-width: 992px) {
        h2 {
            font-size: 24px;
            font-weight: 500;
            line-height: 38px;
        }

        p {
            font-size: 13px;
            margin: 14px 0;
            width: 100%;
            line-height: 24px;
            color: rgb(0 0 0 / 60%);
        }

        .button i {
            display: none;
        }
    }
}

.hero-image {
    position: relative;
    text-align: right;
    z-index: 1;

    img {
        position: relative;
        height: clamp(330px, 50vw, 550px);
        right: 10%;
        top: 10px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: clamp(320px, 40vw, 500px);
        height: clamp(320px, 40vw, 500px);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);
        border-radius: 50%;
    }
}

.abs {
    position: absolute;
    pointer-events: none;
    transition: transform 0.1s linear;

    &.book {
        bottom: 100px;
        right: 40%;
        width: 100px;
        z-index: -1;
        animation-name: rotateScale;
    }

    &.circle {
        top: -20px;
        left: -20px;
        opacity: 0.6;
        z-index: -1;
    }

    &.red-plus {
        top: 40%;
        left: 52%;
        animation-name: moveLeftRight;
    }

    &.crown {
        top: 50%;
        right: 40px;
        z-index: 1;
        animation-name: diagonalMove;

        @media (min-width: 992px) {
            right: 140px;
        }
    }

    &.dots {
        top: 152px;
        right: 12%;
        z-index: -1;
        animation-name: moveUpDown;
    }

    @media (max-width: 992px) {
        &.dots {
            top: 25%;
            right: 30px;
        }

        &.red-plus {
            top: 65%;
            left: 5%;
            z-index: 1;
        }

        &.circle {
            width: 45%;
        }
    }

    @media (max-width: 577px) {

        &.book,
        &.crown {
            display: none;
        }
    }
}