.navbar {
    background-color: white;
    box-shadow: 0 0 22px rgb(0 0 0 / 10%);
    padding: 8px 0;

    .nav-link {
        font-weight: 600;
        text-transform: uppercase;
    }

    span.count {
        background-color: #00BCD4;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50px;
        font-size: 13px;
        color: white;
        right: 10px;
        top: 11px;
    }

    .shopping-cart {
        position: relative;
    }
    
    .shopping-cart span {
        background-color: var(--primary-color);
        color: white;
        position: absolute;
        width: 16px;
        border-radius: 50px;
        height: 16px;
        font-size: 11px;
        left: 32px;
        top: 10px;
    }
}