.navbar {
    .navbar-collapse {
        background-color: #fff;
        box-shadow: 0 0 22px rgba(0,0,0,.1);
        padding: 8px 12px;
    }

    .dropdown-menu {
        display: block;
        transition: 0.3s;
        transform: translateY(10px);
        visibility: hidden;
        opacity: 0;
        padding: 1rem;
    }

    .dropdown:hover > .dropdown-menu {
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .nav-link {
        font-weight: 600;
        text-transform: uppercase;
        pointer-events: none;
    }

    span.count {
        background-color: #00BCD4;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50px;
        font-size: 13px;
        color: white;
        right: 10px;
        top: 11px;
    }

    .shopping-cart {
        position: relative;
    }

    .shopping-cart span {
        background-color: var(--primary-color);
        color: white;
        position: absolute;
        width: 16px;
        border-radius: 50px;
        height: 16px;
        font-size: 11px;
        left: 32px;
        top: 10px;
    }

    @media (max-width: 1024px) {
        .phone, .mail {
            display: none;
        }
    }
}