.navbar {
    background-color: white;
    box-shadow: 0 0 22px rgb(0 0 0 / 10%);
    padding: 16px 0;

    .nav-link {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
    }

    a.mail, a.phone {
        display: block;
        padding: 15px 12px;
    }

    .navbar-nav button span {
        background-color: #00BCD4;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50px;
        font-size: 13px;
        color: white;
        right: 10px;
        top: 11px;
    }
}