// utilities/_text-colors.scss
@use '../abstracts/variables' as *;

@each $name, $color in $colors {
    .text-#{$name} {
        color: var(--#{$name}-color);
    }
}

.text-main {
    color: var(--text-main);
}

.text-xs {
    font-size: 13px !important;
}