@use '../abstracts/mixins' as *;

@use '../abstracts/helpers';

:root {
    @each $name, $color in $colors {
        --#{$name}-color: #{$color};
        --#{$name}-hover: #{darken-color($color, 10%)};
    }
}

body {
    font: {
        size: 14px;
        family: "Poppins", "Changa", sans-serif;
    }
    background-color: whitesmoke;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

span {
    display: inline-block;
}

