<ul class="nav">
    <li class="nav-item">
        <a href="https://facebook.com/ahmedelsewailky" target="_blank" rel="noopener" class="nav-link"
            data-bs-toggle="tooltip" title="facebook">
            <i class="bx bxl-facebook"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="https://twitter.com/elsewailky" target="_blank" rel="noopener" class="nav-link"
            data-bs-toggle="tooltip" title="twitter">
            <i class="bx bxl-twitter"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="https://github.com/ahmedelsewailky" target="_blank" rel="noopener" class="nav-link"
            data-bs-toggle="tooltip" title="github">
            <i class="bx bxl-github"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="https://pinterest.com" target="_blank" rel="noopener" class="nav-link" data-bs-toggle="tooltip"
            title="pinterest">
            <i class="bx bxl-pinterest"></i>
        </a>
    </li>
</ul>