@mixin animate($name, $property, $from, $to) {
    @keyframes #{$name} {

        0%,
        100% {
            #{$property}: $from;
        }

        50% {
            #{$property}: $to;
        }
    }
}

@include animate(moveUpDown, transform, translateY(0), translateY(30px));
@include animate(moveLeftRight, transform, translateX(0), translateX(30px));
@include animate(rotateScale, transform, rotate(0deg) scale(1), rotate(15deg) scale(1.1));
@include animate(diagonalMove, transform, translate(0, 0), translate(20px, -20px));

.v-animate {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.move-up-down {
    animation: moveUpDown 5s infinite ease-in-out;
}

.move-left-right {
    animation: moveLeftRight 5s infinite ease-in-out;
}

.rotate-scale {
    animation: rotateScale 5s infinite ease-in-out;
}

.diagonal-move {
    animation: diagonalMove 5s infinite ease-in-out;
}