$colors: (
    "primary":   #5352ed,
    "warning":   #ff7f50,
    "success":   #2ed573,
    "danger":    #ff4757,
    "dark":      #000000,
    "light":     #a4b0be,
    "info":      #1e90ff
);

$fontSize: 14px;

$borderColor: #e5e7eb;

$borderRaduis: 4px;