<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item active" aria-current="page" href="/">Home One</a></li>
                        <li><a class="dropdown-item" href="html/index-2.html">Home Two</a></li>
                        <li><a class="dropdown-item" href="html/index-3.html">Home Three</a></li>
                        <li><a class="dropdown-item" href="html/index-4.html">Home Four</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="html/courses-1.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="html/courses-1.html">Home One</a></li>
                        <li><a class="dropdown-item" href="html/courses-2.html">Course Two</a></li>
                        <li><a class="dropdown-item" href="html/courses-3.html">Course Three</a></li>
                        <li><a class="dropdown-item" href="html/courses-details.html">Course Details</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>